.login-container {
    
    margin: 200px auto;
    width: 300px;
    padding: 30px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: #2f2d2d;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    cursor: pointer;
}
button:hover{
    background-color: black;
}
.login-h{
   display: flex;
   justify-content: center;
   margin-bottom: 20px;
}
.registration-link {
    margin-top: 10px;
    text-align: center;
}

.registration-link a {
    text-decoration: none;
    color: red;
    font-weight: bold;
    cursor: pointer;
}
.registration-link a:hover{
   color: rgb(230, 100, 100);
}